h1 {
    color: blue;
    text-align: center;
}

body {
    font-family: cursive;
}

nav {
    border-style: solid;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}

.profile {
    text-align: center;
}
.blog {
    text-align: center;
}
  
.title {
    display: inline;
    color: blue;
    text-align: center;
}
    background-color: white;
}

.copy {
    text-align: end;
}