body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    border-style: solid;
}

#myCanvas {
    border-style: solid;
    background-color: white;
}

.copy {
    text-align: end;
}

.profile {
    text-align: center;
}
.blog {
    text-align: center;
}
  
.title {
    display: inline;
    color: blue;
    text-align: center;
    border-style: solid;
}